extends base

block content
    div.block
        h1 צור קשר
        div.col.d-flex.justify-content-center
            form
                div.form-outline.mb-4
                    input(type="text", id="registerName", class="form-control", placeholder="שם מלא")
                div.form-outline.mb-4
                    input(type="email", id="registerEmail", class="form-control", placeholder="דואר אלקטרוני")
                div.form-outline.mb-4
                    textarea(class="form-control", id="message", rows="6", required, placeholder="הודעה")
                button(type="button", class="btn btn-primary btn-block mb-4") שלח הודעה
        hr