<% extend('base') %>

<div class="block">
    <h1>צור קשר</h1>
    <div class="col d-flex justify-content-center">
        <form class="form form--contact">
            <div class="form-outline mb-4">
                <input id="contactName" class="form-control" type="text" placeholder="שם מלא">
            </div>
            <div class="form-outline mb-4">
                <input id="contactEmail" class="form-control" type="email" placeholder="דואר אלקטרוני">
            </div>
            <div class="form-outline mb-4">
                <textarea class="form-control" id="message" rows="6" required placeholder="הודעה"></textarea>
            </div>
            <button class="btn btn-primary btn-block mb-4">שלח הודעה</button>
        </form>
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3378.4372568391673!2d34.84446992467259!3d32.13849677393702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d48364ad37615%3A0xef6c63e85b13afe7!2z16fXqdeoINeQ15XXqA!5e0!3m2!1siw!2sil!4v1689788420611!5m2!1siw!2sil" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <hr>
</div>
