<% extend('base') %>

<div class="block">
    <h1>צור קשר</h1>
    <div class="col d-flex justify-content-center">
        <form class="form form--contact">
            <div class="form-outline mb-4">
                <input id="contactName" class="form-control" type="text" placeholder="שם מלא">
            </div>
            <div class="form-outline mb-4">
                <input id="contactEmail" class="form-control" type="email" placeholder="דואר אלקטרוני">
            </div>
            <div class="form-outline mb-4">
                <textarea class="form-control" id="message" rows="6" required placeholder="הודעה"></textarea>
            </div>
            <button class="btn btn-primary btn-block mb-4">שלח הודעה</button>
        </form>
    </div>
    <hr>
</div>
