extends base

block content
    div.block
        h1 שכחתי סיסמא
        div.col.d-flex.justify-content-center
            form
                div.form-outline.mb-4
                    input(type="email", id="form2Example1", class="form-control", placeholder="אימייל")
                button(type="button", class="btn btn-primary btn-block mb-4") שלח מייל לאימות
        hr