extends base

block content
    div.block
        h1 גלריה
        a(href='images/pic1.png')
            img(src='images/pic1.png')
        a(href='images/pic2.png')
            img(src='images/pic2.png')
        a(href='images/pic2.png')
            img(src='images/pic2.png')
        a(href='images/pic3.png')
            img(src='images/pic3.png')
        a(href='images/pic4.png')
            img(src='images/pic4.png')
        a(href='images/pic5.png')
            img(src='images/pic5.png')
        a(href='images/pic6.png')
            img(src='images/pic6.png')
        a(href='images/pic6.png')
            img(src='images/pic6.png')
        a(href='images/pic6.png')
            img(src='images/pic6.png')
        a(href='images/pic6.png')
            img(src='images/pic6.png')
        a(href='images/pic6.png')
            img(src='images/pic6.png')
        hr