<% extend('base') %>

<div class="block">
    <h1>קשר אור</h1>
    <p>
        תכנון יעוץ וביצוע של כל סוגי עבודות החשמל עבור * בתים פרטיים * דירות *משרדים * מבני תעשיה<br />
        התקנת מערכות תקשורת אינטרקום, מערכות אזעקה, מערכות לגילוי אש, התקנת קווי רשת למחשבים ביתיים ולמשרדים,<br />
        שיפוצים בגבס, קרניזים ועבודות מיוחדות, ריצוף, צבע ואינסטלציה.<br />
        <b>והכל במחירים הוגנים ולשביעות רצון הלקוח.</b>
    </p>
    <hr>
    <h1>ברוכים הבאים</h1>
    <p>
        קשר אור הינה חברה אשר פעילה בתחום החשמל והתקשורת במגזר העסקי ובמגזר הפרטי.<br /><br />
        • מומחים לפתרון חשמל ועומסים<br />
        • החלפת חממים לדודים וניקוי הדוד מאבן.<br />
        • תכנון וביצוע תאורת גינה - לפי מיטב היצרנים.<br />
        • שדרוג גופי תאורה בחדרי מדרגות.<br />
        • שדרוג לוחות חשמל והעברת ביקורת.<br /><br />
        • מומחים לתיקוני מערכות אינטרקום.<br />
        • הכנת תשתית ביתית לתקשורת מחשבים.<br />
        • התקנת מערכות אזעקה של מיטב היצרנים.<br />
        • התקנת מקודדים לדלתות כניסה.<br />
        • התקנת מערכות לגילוי אש לחדרי מדרגות עפ"י תקן.<br /><br />
        <b>חדש - מבצעים את כל סוגי עבודות השיפוץ:</b><br />
        בניית קירות, עבודות גבס, ריצוף ואינסטלציה
    </p>
    <img src="images/helmet.png" alt="helmet">
    <img src="images/light.png" alt="light">
    <hr />
</div>