extends base

block content
    div.block
        if (user && user.role === 'admin')
            h1 יצירת מוצר חדש
            div.col.d-flex.justify-content-center
                form.form.form--newProduct
                    div.form-outline.mb-4
                        input#productImage.form__input(type='text' class='form-control' placeholder='נתיב תמונה')
                    div.form-outline.mb-4
                        input#productName.form__input(type='text' class='form-control' placeholder='שם מוצר')
                    div.form-outline.mb-4
                        input#productDescription.form__input(type='text' class='form-control' placeholder='תיאור מוצר')
                    div.form-outline.mb-4
                        input#productPrice.form__input(type='number' class='form-control' placeholder='מחיר')
                    button.btn.btn-primary.btn-block.mb-4 יצירת מוצר חדש
        else
            h1 שגיאה
            p אנא חזור אחורה אינך רשאי לבקר בעמוד זה !
        <hr />