extends base

block content
    div.block
        h1 התחברות
        div.col.d-flex.justify-content-center
            form.form.form--login
                div.form-outline.mb-4
                    input#email.form__input(type='email' class='form-control' placeholder='אימייל')
                div.form-outline.mb-4
                    input#password.form__input(type='password' class='form-control' placeholder='סיסמא')
                button.btn.btn-primary.btn-block.mb-4 התחברות
                div.text-center
                    p
                        | לא משתמש? 
                        a(href="/register") הירשם
        hr
        