<% extend('base') %>

<div class="block">
    <h1>התחברות</h1>
    <div class="col d-flex justify-content-center">
        <form class="form form--login">
            <div class="form-outline mb-4">
                <input id="email" class="form__input form-control" type="email" placeholder="אימייל">
            </div>
            <div class="form-outline mb-4">
                <input id="password" class="form__input form-control" type="password" placeholder="סיסמא">
            </div>
            <button class="btn btn-primary btn-block mb-4">התחברות</button>
            <div class="text-center">
                <p>לא משתמש? <a href="/register">הירשם</a></p>
            </div>
        </form>
    </div>
    <hr>
</div>
