<% extend('base') %>

<div class="block">
    <% if (locals.user) { %>
        <% if (locals.user.role === 'admin') { %>
            <h1>הזמנות - אדמין</h1>
            <p>טקסט</p>
        <% } else { %>
            <h1>הזמנות - משתמש</h1>
            <p>טקסט</p>
        <% } %>
    <% } else { %>
        <h1>שגיאה</h1>
        <p>אנא חזור אחורה אינך רשאי לבקר בעמוד זה !</p>
    <% } %>
    <hr />
</div>
