<% extend('base') %>

<div class="block">
    <h1>השלם הזמנה</h1>
    <div class="col d-flex justify-content-center">
        <form class="form form--payment">
            <div class="form-outline mb-4">
                <input id="name" class="form__input form-control" type="text" placeholder="שם מלא">
            </div>
            <div class="form-outline mb-4">
                <input id="address" class="form__input form-control" type="text" placeholder="כתובת למשלוח">
            </div>
            <div class="form-outline mb-4">
                <input id="phone" class="form__input form-control" type="text" placeholder="פלאפון">
            </div>
            <div class="form-outline mb-4">
                <select id="selectPayment">
                    <option value="תשלום טלפוני">תשלום טלפוני</option>
                    <option value="תשלום מזומן">תשלום במזומן לשליח</option>
                </select>
            </div>
            <button id="sendOrder" class="btn btn-primary btn-block mb-4" value="<%= locals.user._id %>">ביצוע הזמנה</button>
        </form>
    </div>
    <hr>
</div>