<% extend('base') %>

<div class="block">
    <h1>פרופיל</h1>
    <p>
        <b>קשר אור</b>
        (להלן: "החברה") הוקמה בשנת 1987 ופעילה מאז בתחום החשמל והתקשורת במגזר העסקי ובמגזר הפרטי.<br>
        החברה מעסיקה את מיטב בעלי המקצוע בפעילויותיה השונות ונעזרת בציוד החדיש ביותר בענף.<br>
        החברה מנוהלת ע"י ראובן אזאצ'י ממשרדיה שברמת השרון. החברה פעילה בעיקר באזור השרון ובמרכז.<br>
        בשנת 1999 החברה החלה לעסוק גם בתחום השיפוצים במגזר הפרטי והעסקי.<br>
        כמו כן בבעלות החברה חנות חשמל ותקשורת ברח' אוסישקין 9 ברמת השרון.
        <br>
        <b>
            <u>תחומי פעילות החברה:</u>
        </b>
        <br>
        <b>
            <u>חשמל:</u>
        </b>
        <br>
        • תכנון יעוץ וביצוע של כל סוגי עבודות החשמל (בתים פרטיים, דירות, משרדים, ומבני תעשיה).<br>
        • פתרונות לבעיות עומס (איזון פאזות).<br>
        • חיווט לוחות חשמל והתקנתם.<br>
        • הכנה ל- 3 פאזות מול חברת חשמל.<br>
        • תכנון וביצוע מערכות תאורה לגינה, והשכרת ציוד תאורה למסיבות.<br>
        • שדרוג גופי תאורה לחדרי מדרגות.<br>
        • החלפת חממים לדודי חשמל + ניקוי הדוד מאבן.<br>
        • הוספת נק' חשמל, קווי מזגן, נק' טלפון, טלוויזיה ונק' מחשב.<br>
        • תיקון קצרים ע"י מכשור חדיש בתחום החשמל.<br>
        • בדיקת בידוד מוליכים בלוח החשמל לשקעים באמצעות "מגר".<br>
        • בדיקת טיב הארכה בלוח באמצעות "LT".<br>
        • בדיקת תקינות ממסר פחת תקופתי.<br>
        • בדיקת מערכות החשמל לחנויות ומשרדים ונתינת אישורים למכבי אש.<br>
        <b>
            <u>תקשורת:</u>
        </b>
        <br>
        • התקנת מערכות אינטרקום של מיטב היצרנים.<br>
        • התקנת מערכות אינטרקום דרך טלפון.<br>
        • התקנת קווי רשת למחשבים ביתיים, ולמשרדים.<br>
        • התקנת מערכות אזעקה, אלחוטיות וקוויות של מיטב היצרנים.<br>
        • התקנת מערכות לגילוי אש, לחדרי מדרגות בבניינים משותפים, משרדים, חנויות, מפעלים והעברת מכון תקנים.<br>
        <b>
            <u>תחומי פעילות נוספים (שיפוצים):</u>
        </b>
        <br>
        • בנית קירות גבס, קרניזים ועבודות מיוחדות.<br>
        • אינסטלציה.<br>
        • ריצוף.<br>
        • צבע.<br>
        <b>
            <u>מלקוחותינו:</u>
        </b>
        <br>
        קופת חולים מכבי, בזק, עיתון הארץ, iol, The Marker, משרדי הייטק רבים,<br>
        משרדי פרסום, אולמות חתונה, ומאות לקוחות פרטיים.<br>
        <b>
            <u>ייחודיות החברה:</u>
        </b>
        <br>
        הדגש העיקרי של החברה הנו שביעות רצון הלקוח, מחירים הוגנים, ניקיון לאחר מתן<br>
        השירות, והכי חשוב מיומנות בתחומי העבודה השונים.
    </p>
    <hr>
</div>
