<% extend('base') %>

<div class="block">
    <h1>הרשמה</h1>
    <div class="col d-flex justify-content-center">
        <form class="form form--register">
            <div class="form-outline mb-4">
                <input id="name" class="form__input form-control" type="text" placeholder="שם מלא">
            </div>
            <div class="form-outline mb-4">
                <input id="email" class="form__input form-control" type="email" placeholder="אימייל">
            </div>
            <div class="form-outline mb-4">
                <input id="password" class="form__input form-control" type="password" placeholder="סיסמא">
            </div>
            <div class="form-outline mb-4">
                <input id="passwordConfirm" class="form__input form-control" type="password" placeholder="סיסמא שוב">
            </div>
            <button class="btn btn-primary btn-block mb-4">הרשמה</button>
        </form>
    </div>
    <hr>
</div>
