extends base

block content
    div.block
        h1 הרשמה
        div.col.d-flex.justify-content-center
            form.form.form--register
                div.form-outline.mb-4
                    input#name.form__input(type='text' class='form-control' placeholder='שם מלא')
                div.form-outline.mb-4
                    input#email.form__input(type='email' class='form-control' placeholder='אימייל')
                div.form-outline.mb-4
                    input#password.form__input(type='password' class='form-control' placeholder='סיסמא')
                div.form-outline.mb-4
                    input#passwordConfirm.form__input(type='password' class='form-control' placeholder='סיסמא שוב')
                button.btn1.btn1 הרשמה
        hr