<% extend('base') %>

<div class="block">
    <h1>חנות</h1>
    <div class="navbar-brand-wrap">
      <form id="myForm" method="GET" action="">
        <select id="selector1" name="selector1">
          <option value="option1">סינון מחיר מהקטן לגדול</option>
          <option value="option2">סינון מחיר מהגדול לקטן</option>
          <option value="option3">מבצעים מהשבוע האחרון</option>
        </select>
        <button class="nav_el" type="submit">הצג</button>
      </form>
    </div>
    <div class="catalog">
    </div>
    <hr>
  </div>