.item
    img(src="images/oven.png", alt="Oven")
    h2 תנור
    p
        | תותח של תנור משהו יופי יופי
        br
        | מחיר שווה לכל כיס
    b מחיר: 25,000 ש"ח בלבד
    .center
        button(type="button", class="btn btn-primary btn-block mb-4 itemBtn") הוסף לסל !